{# templates/booking/calendar.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}

    <h1>UX Demo</h1>


    <div>
        <div>
            A playground for some UX tools that we use or may use.
        </div>

        This is a working example of using <a href="https://github.com/tattali/CalendarBundle">CalendarBundle</a>, which integrates events from a database within a Symfony application with <a href="https://fullcalendar.io/">FullCalendar.io</a>.
    </div>


<div class="col-md-6 col-lg-4">

    {% if admin_menu is not defined %}
    {% set admin_menu = get_menu(admin.menuName()) %}
    {% endif %}
{#    {{ render_menu(admin_menu) }}#}




    {% for child in admin_menu.root.children|filter(c => c.children|length ) %}
    <div class="col-md-6 col-lg-4">
        {% embed '_partial/card.html.twig' with {
        } %}
            {% block title child.label %}
            {% block subtitle "%s.subtitle"|format(child.label)|trans|markdown_to_html %}
            {% block text %}
                {{  "%s.description"|format(child.label)|trans|markdown_to_html }}

                <ul class="list-inline">
                    {% for subMenu in child.children %}
                        <li class="list-inline-item">
                            <a class="btn btn-sm btn-primary" href="{{ path(subMenu.route, subMenu.routeParams) }}" class="card-link">{{ subMenu.label|trans }}</a>
                        </li>
                    {% endfor %}
                </ul>

            {% endblock %}
            {% block footer %}
                <a href="#" class="card-link">Card link</a>

                Footer
            {% endblock %}

        {% endembed %}
    </div>

    {% endfor %}

</div>
{% endblock %}


{% block card_with_tabs %}
<div class="col-md-6 col-lg-4">
    <!-- Cards with tabs component -->
    <div class="card-tabs ">
        <!-- Cards navigation -->
        <ul class="nav nav-tabs">
            <li class="nav-item"><a href="#tab-top-1" class="nav-link" data-bs-toggle="tab">Tab 1</a></li>
            <li class="nav-item"><a href="#tab-top-2" class="nav-link" data-bs-toggle="tab">Tab 2</a></li>
            <li class="nav-item"><a href="#tab-top-3" class="nav-link active" data-bs-toggle="tab">Tab 3</a></li>
            <li class="nav-item"><a href="#tab-top-4" class="nav-link" data-bs-toggle="tab">Tab 4</a></li>
        </ul>
        <div class="tab-content">
            <!-- Content of card #1 -->
            <div id="tab-top-1" class="card tab-pane show">
                <div class="card-body">
                    <div class="card-title">Content of tab #1</div>
                    <p class="text-muted">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, alias aliquid distinctio dolorem expedita, fugiat hic magni molestiae molestias odit.
                    </p>
                </div>
            </div>
            <!-- Content of card #2 -->
            <div id="tab-top-2" class="card tab-pane">
                <div class="card-body">
                    <div class="card-title">Content of tab #2</div>
                    <p class="text-muted">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, alias aliquid distinctio dolorem expedita, fugiat hic magni molestiae molestias odit.
                    </p>
                </div>
            </div>
            <!-- Content of card #3 -->
            <div id="tab-top-3" class="card tab-pane active">
                <div class="card-body">
                    <div class="card-title">Content of tab #3</div>
                    <p class="text-muted">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, alias aliquid distinctio dolorem expedita, fugiat hic magni molestiae molestias odit.
                    </p>
                </div>
            </div>
            <!-- Content of card #4 -->
            <div id="tab-top-4" class="card tab-pane">
                <div class="card-body">
                    <div class="card-title">Content of tab #4</div>
                    <p class="text-muted">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, alias aliquid distinctio dolorem expedita, fugiat hic magni molestiae molestias odit.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
