{% extends "event/base.html.twig" %}

{% block body %}
    <h1>Edit Event</h1>

    {{ include('event/_form.html.twig', {'button_label': 'Update'}) }}
    {{ include('event/_delete_form.html.twig') }}
{% endblock %}
