:root {
    --color-primary: #3ea7e1;
    --link-color: #fff;
    --heading-color: #fff;
    --button-color: #fff;
    --button-font: #3ea7e1;
    --button-border: rgba(255, 255, 255, 0.3);
    --container-padding: 15px;
}
@media (min-width: 576px) {
    :root {
        --container-padding: 30px;
    }
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body,
[id] {
    scroll-margin: 130px;
}

html,
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background: #fff;
    color: #666;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 28px;
    -webkit-text-size-adjust: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--heading-color);
}

h1,
h2,
.font {
    font-family: "Pacifico", cursive;
    font-weight: normal;
    letter-spacing: 0;
}

h1,
h2 {
    text-shadow: 8px 10px 1px rgba(0, 0, 0, 0.1);
    font-size: 60px;
    line-height: 1;
    margin: 0 0 100px 0;
}
@media (min-width: 576px) {
    h1,
    h2 {
        font-size: 75px;
    }
}
@media (min-width: 768px) {
    h1,
    h2 {
        font-size: 100px;
    }
}

h3,
h4,
h5,
h6 {
    font-weight: bold;
    line-height: 1.2;
}
h3 small,
h4 small,
h5 small,
h6 small {
    font-weight: normal;
}

h3,
h4 {
    font-size: 130%;
    margin: 100px 0 30px;
}

h5,
h6 {
    font-size: 115%;
    margin: 50px 0 20px;
}

p,
ul,
ol,
blockquote {
    margin: 0;
}
p:not(:last-child),
ul:not(:last-child),
ol:not(:last-child),
blockquote:not(:last-child) {
    margin-bottom: 30px;
}

a {
    color: var(--link-color);
}

p a:not(.button), p a:not(.button):link, p a:not(.button):active, p a:not(.button):visited,
td a:not(.button),
td a:not(.button):link,
td a:not(.button):active,
td a:not(.button):visited,
th a:not(.button),
th a:not(.button):link,
th a:not(.button):active,
th a:not(.button):visited,
dt a:not(.button),
dt a:not(.button):link,
dt a:not(.button):active,
dt a:not(.button):visited,
dd a:not(.button),
dd a:not(.button):link,
dd a:not(.button):active,
dd a:not(.button):visited {
    text-decoration: none;
    border-bottom: 1px solid currentColor;
}
p a:not(.button):hover,
td a:not(.button):hover,
th a:not(.button):hover,
dt a:not(.button):hover,
dd a:not(.button):hover {
    text-decoration: none;
    border-bottom-width: 2px;
}

img {
    height: auto;
    max-width: 100%;
}

abbr[title] {
    border: none;
    text-decoration: none;
}

select,
input[type=text],
textarea {
    display: block;
    width: 100%;
    height: 50px;
    min-height: 50px;
    padding: 10px 20px;
    color: #666;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    resize: none;
    border: none;
    background: rgba(255, 255, 255, 0.7);
    -webkit-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
}

code,
pre {
    font-family: Consolas, monospace;
}

code {
    opacity: 0.7;
    white-space: nowrap;
}

pre {
    padding: 10px var(--container-padding);
    margin: 30px calc(1px - var(--container-padding)) 30px calc(0px - var(--container-padding));
    white-space: pre;
    line-height: 20px;
    font-size: 15px;
    background: rgba(0, 0, 0, 0.5);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
pre .faded {
    opacity: 0.4;
}
pre code {
    opacity: 1;
    white-space: pre;
}
pre code.hljs {
    background: none;
    padding: 0;
}
pre code [class*=hljs-] {
    -webkit-transition: color 2s ease;
    -o-transition: color 2s ease;
    transition: color 2s ease;
}

dl {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    display: block;
    margin: 30px calc(0px - var(--container-padding));
}

dt,
dd {
    width: 100%;
    margin: 0;
    float: none;
}

dt {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    padding: 10px var(--container-padding) 0;
}

dd {
    padding: 0 var(--container-padding) 10px;
}

@media (min-width: 768px) {
    dl {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    dt,
    dd {
        min-height: 1px;
    }

    dt {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
        flex: 0 0 30%;
        padding-bottom: 10px;
    }

    dd {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
        flex: 0 0 70%;
        padding-top: 10px;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
    }
}
dt.divider {
    width: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    padding-bottom: 0;
    padding-top: 20px;
    font-size: 15px;
    text-transform: uppercase;
    opacity: 0.7;
}
dt.divider + dd {
    width: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    padding: 0;
}
dt.divider + dd + dt,
dt.divider + dd + dt + dd {
    border-top: none;
}

iframe {
    overflow: hidden;
}

.hidden {
    display: none !important;
}

.visible {
    display: block !important;
}

@media (min-width: 576px) {
    .hidden-xs {
        display: none !important;
    }

    .visible-xs {
        display: block !important;
    }
}
@media (min-width: 768px) {
    .hidden-sm {
        display: none !important;
    }

    .visible-sm {
        display: block !important;
    }
}
@media (min-width: 992px) {
    .hidden-md {
        display: none !important;
    }

    .visible-md {
        display: block !important;
    }
}
@media (min-width: 1200px) {
    .hidden-lg {
        display: none !important;
    }

    .visible-lg {
        display: block !important;
    }
}
@media (min-width: 1440px) {
    .hidden-xl {
        display: none !important;
    }

    .visible-xl {
        display: block !important;
    }
}
.message {
    padding: 30px var(--container-padding);
    margin: 0 calc(0px - var(--container-padding));
}
.message--success {
    background: #393;
}
.message--error {
    background: #c30;
}

.warning {
    --link-color: #666;
    padding: 30px calc(var(--container-padding) - 6px);
    margin: 30px calc(0px - var(--container-padding));
    border-left: 6px solid #960;
    color: #666;
    background: rgba(255, 255, 255, 0.5);
}
.warning code {
    opacity: 0.7;
}

.container {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    max-width: 992px;
    min-width: 320px;
    padding: 0 var(--container-padding);
    margin: 0 auto;
}
@media (min-width: 768px) {
    .container {
        width: 90%;
    }
}
@media (min-width: 992px) {
    .container {
        width: 80%;
    }
}

.content {
    --link-color: #3ea7e1;
    --heading-color: #3ea7e1;
    --button-color: #3ea7e1;
    --button-font: #3ea7e1;
    --button-border: #3ea7e1;
    padding: 100px 0;
    overflow: hidden;
    color: #666;
    background: rgba(255, 255, 255, 0.7);
}
.content--after-tablet {
    padding-top: 0;
}
@media (min-width: 992px) {
    .content--after-tablet {
        padding-top: 100px;
        margin-top: -150px;
    }
}
.content h3,
.content h4,
.content h5,
.content h6 {
    font-weight: 100;
    font-size: 35px;
}
.content pre {
    background: rgba(0, 0, 0, 0.7);
}

.content__section {
    padding: 50px 0;
    position: relative;
}
@media (min-width: 768px) {
    .content__section {
        padding: 100px 0;
    }
    .content__section:first-child {
        padding-top: 50px;
    }
    .content__section + .content__section {
        border-top: 8px solid rgba(0, 0, 0, 0.06);
    }
}
.content__section h4 {
    margin-top: 0;
}
.content__section--phones, .content__section--tablets {
    padding-bottom: 0;
}
.content__section--phones + .content__section, .content__section--tablets + .content__section {
    border-top: none;
}
.content__section--tablets p {
    position: relative;
    z-index: 1;
}
.content__section--cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 30px;
}
@media (min-width: 992px) {
    .content__section--cta {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
}
.content__section--cta h4 {
    margin: 0 0 5px 0;
}
.content__section--cta .button {
    margin: 0;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -30px;
}

.col {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 0 30px;
}

.col-12 {
    width: 100%;
}

.col-10 {
    width: 80%;
}

.col-9 {
    width: 75%;
}

.col-8 {
    width: 66.66%;
}

.col-6 {
    width: 50%;
}

.col-4 {
    width: 33.33%;
}

.col-3 {
    width: 25%;
}

.col-2 {
    width: 20%;
}

@media (min-width: 576px) {
    .col-xs-12 {
        width: 100%;
    }

    .col-xs-10 {
        width: 80%;
    }

    .col-xs-9 {
        width: 75%;
    }

    .col-xs-8 {
        width: 66.66%;
    }

    .col-xs-6 {
        width: 50%;
    }

    .col-xs-4 {
        width: 33.33%;
    }

    .col-xs-3 {
        width: 25%;
    }

    .col-xs-2 {
        width: 20%;
    }
}
@media (min-width: 768px) {
    .col-sm-12 {
        width: 100%;
    }

    .col-sm-10 {
        width: 80%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-8 {
        width: 66.66%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-4 {
        width: 33.33%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-2 {
        width: 20%;
    }
}
@media (min-width: 992px) {
    .col-md-12 {
        width: 100%;
    }

    .col-md-10 {
        width: 80%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-8 {
        width: 66.66%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-4 {
        width: 33.33%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-2 {
        width: 20%;
    }
}
@media (min-width: 1200px) {
    .col-lg-12 {
        width: 100%;
    }

    .col-lg-10 {
        width: 80%;
    }

    .col-lg-9 {
        width: 75%;
    }

    .col-lg-8 {
        width: 66.66%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-4 {
        width: 33.33%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .col-lg-2 {
        width: 20%;
    }
}
#home-intro {
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: calc(100vh - 200px);
    padding: 0 0 100px 0;
}
#home-intro h1 {
    letter-spacing: -5px;
    font-size: 100px;
    margin: 0;
}
@media (min-width: 576px) {
    #home-intro h1 {
        letter-spacing: -10px;
        font-size: 150px;
    }
}
#home-intro h4 {
    margin: 30px 0 60px 0;
}
@media (min-width: 992px) {
    #home-intro:before {
        content: "";
        width: calc(45% + (50vw - 50%));
        height: 900px;
        background: url(../img/iphonex-perspective-black.png) 0 0 no-repeat transparent;
        background-size: auto 850px;
        position: absolute;
        bottom: -175px;
        left: 55%;
        z-index: 3;
    }
}

.page {
    position: relative;
    max-width: 100%;
    min-height: 100vh;
    padding: 150px 0;
    background: #3ea7e1 !important;
    color: #fff;
}

body.p404,
body.p404 .page {
    background: #e34545;
}
body.p404 .container {
    text-align: center;
}
body.p404 h1 {
    letter-spacing: -10px;
    font-size: 200px;
}
@media (min-width: 576px) {
    body.p404 h1 {
        letter-spacing: -15px;
        font-size: 300px;
    }
}
@media (min-width: 768px) {
    body.p404 h1 {
        letter-spacing: -20px;
        font-size: 400px;
    }
}

@media (min-width: 768px) {
    body:not(.p404):not(.docready) .page {
        width: calc(100% - 60px);
        -webkit-transform: translate3d(60px, 0, 0);
        transform: translate3d(60px, 0, 0);
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
}
@media (min-width: 1440px) {
    body:not(.p404):not(.docready) .page {
        width: calc(100% - 440px);
        -webkit-transform: translate3d(440px, 0, 0);
        transform: translate3d(440px, 0, 0);
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
}

.hamburger {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 15;
    margin: -150px 0 100px 0;
    background: var(--color-primary);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    opacity: 0.95;
}
.hamburger mm-burger {
    --mb-bar-width: 40px;
    --mb-bar-height: 2px;
    --mb-bar-spacing: 10px;
    --mb-animate-timeout: 0.6s;
    padding: 15px 20px;
}
@media (min-width: 992px) {
    .hamburger {
        top: 50px;
        width: 90px;
        margin: -95px 0 5px 35px;
        padding: 10px;
        opacity: 1;
        border: none;
        background: none;
    }
}
@media (min-width: 1200px) {
    .hamburger {
        margin-left: 50px;
    }
}

#menu:not(.mm-menu),
body:not(.docready) #menu {
    display: none;
}

body .mm-menu {
    --mm-line-height: 26px;
    --mm-navbar-size: 50px;
    --mm-listitem-size: 50px;
    --mm-iconpanel-size: 60px;
    --mm-iconbar-size: 60px;
    font-size: 16px;
}
body .mm-slideout {
    --mm-sidebar-collapsed-size: 60px;
}

.mm-panel > p {
    padding: 30px 20px 20px;
    margin: 0;
}
.mm-panel ul {
    margin: 0;
}

.mm-panel--iconpanel-first .fa {
    font-size: 16px;
    text-align: center;
    color: #999;
    line-height: 25px;
    width: 25px;
    margin-right: 15px;
    float: left;
    -webkit-transition: color 1s ease;
    -o-transition: color 1s ease;
    transition: color 1s ease;
}
.mm-panel--iconpanel-first .mm-divider {
    padding-left: 60px;
}
.mm-panel--iconpanel-first .mm-listitem:after {
    left: 60px;
}

.mm-menu--opened .mm-panel--opened.mm-panel--iconpanel-first .fa {
    color: var(--color-primary);
}

.mm-panel__blocker {
    display: block !important;
    opacity: 0 !important;
}

.mm-panel--search .fa {
    display: none;
}
.mm-panel--search .mm-panel__splash {
    padding: 0;
}
.mm-panel--search .mm-panel__splash div {
    padding: 40px 20px;
    text-align: center;
    opacity: 0.8;
}
.mm-panel--search .mm-panel__splash h4 {
    margin: 0 0 10px;
    color: inherit;
}

.button,
.buttons {
    margin: 0;
    text-align: center;
    background: rgba(255, 255, 255, 0.05);
    -webkit-box-shadow: 5px 8px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 5px 8px 2px rgba(0, 0, 0, 0.1);
}
.button .font,
.buttons .font {
    font-size: 35px;
    text-align: center;
    display: block;
}
.button small,
.buttons small {
    font-size: 13px;
    font-weight: normal;
    display: block;
}

.button,
.buttons a {
    line-height: 25px;
    text-decoration: none !important;
    -webkit-transition: none 0.2s ease;
    -o-transition: none 0.2s ease;
    transition: none 0.2s ease;
    -webkit-transition-property: -webkit-box-shadow, -webkit-transform;
    transition-property: -webkit-box-shadow, -webkit-transform;
    -o-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
    transition-property: box-shadow, transform, -webkit-box-shadow, -webkit-transform;
}
.button:hover,
.buttons a:hover {
    -webkit-transform: translateY(3px);
    -ms-transform: translateY(3px);
    transform: translateY(3px);
}
.button small,
.buttons a small {
    color: #666;
}

.button {
    display: inline-block;
    padding: 15px 30px;
    margin: 20px 15px 0 0;
    font-weight: bold;
    color: var(--button-color);
    border: 2px solid var(--button-border);
}
.button:hover {
    -webkit-box-shadow: 3px 5px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 3px 5px 1px rgba(0, 0, 0, 0.15);
}

.buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1px;
}
@media (min-width: 576px) {
    .buttons {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
}
.buttons a {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    display: block;
    padding: 30px 10px 20px;
    margin: 0;
    background: rgba(255, 255, 255, 0.7);
}
.buttons .font {
    color: var(--button-font);
}

.check {
    position: relative;
}
.check input {
    width: calc(100% + (var(--container-padding) * 2));
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    margin-left: calc(0px - var(--container-padding));
    margin-right: calc(0px - var(--container-padding));
}
.check a {
    display: block;
    position: absolute;
    bottom: 0;
    right: calc(0px - var(--container-padding));
    width: 80px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    color: var(--color-primary);
    text-align: center;
    text-decoration: none;
}

.phone {
    position: relative;
    z-index: 1;
    padding: 90px 0 60px;
    margin: 0 -40px;
}
.phone:before, .phone:after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
}
.phone iframe {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    border: none;
}
.phone + pre {
    margin-top: 0;
}
.phone:before, .phone:after {
    left: 0;
    width: 100%;
    height: 50%;
    background: url(../img/iphonex-example-blue.png) center top/395px auto no-repeat transparent;
}
.phone:before {
    top: 0;
}
.phone:after {
    bottom: 0;
    background-position: center bottom;
}
.phone div {
    position: relative;
    width: 290px;
    height: 550px;
    margin: 0 auto;
    overflow: hidden;
    background: #000;
    border-radius: 0 0 35px 35px;
}
.phone span {
    display: block;
    width: 290px;
    height: 30px;
    margin: -25px auto 0;
    border-radius: 30px 30px 0 0;
    background: url(../img/iphonex-example-camera.png) center top no-repeat #4bb5ef;
}
.phone--coral:before, .phone--coral:after {
    background-image: url(../img/iphonex-example-coral.png);
}
.phone--coral span {
    background-color: #e34545;
}
.phone--yellow:before, .phone--yellow:after {
    background-image: url(../img/iphonex-example-yellow.png);
}
.phone--yellow span {
    background-color: #ffbb00;
}
.phone--black:before, .phone--black:after {
    background-image: url(../img/iphonex-example-black.png);
}
.phone--black span {
    background-color: #555;
}
.phone--white:before, .phone--white:after {
    background-image: url(../img/iphonex-example-white.png);
}
.phone--white span {
    background-color: #fff;
}

.stacked-phones {
    overflow: hidden;
    height: 550px;
    margin: 0 -15%;
    position: relative;
}
.stacked-phones:after {
    content: "";
    border-radius: 50%;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    display: block;
    height: 20px;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    z-index: 2;
}
.stacked-phones .phone {
    width: 380px;
    margin: 0;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.stacked-phones .phone:first-child, .stacked-phones .phone:last-child {
    z-index: 0;
    margin-top: 25px;
}
@media (min-width: 576px) {
    .stacked-phones .phone {
        -webkit-transform: translateX(-10%);
        -ms-transform: translateX(-10%);
        transform: translateX(-10%);
    }
    .stacked-phones .phone:first-child {
        -webkit-transform: translateX(-90%);
        -ms-transform: translateX(-90%);
        transform: translateX(-90%);
    }
}
@media (min-width: 992px) {
    .stacked-phones .phone {
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .stacked-phones .phone:first-child {
        -webkit-transform: translateX(-131%);
        -ms-transform: translateX(-131%);
        transform: translateX(-131%);
    }
    .stacked-phones .phone:last-child {
        -webkit-transform: translateX(31%);
        -ms-transform: translateX(31%);
        transform: translateX(31%);
    }
}

.tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 567px;
    padding: 38px 72px;
    margin: 50px 0;
    position: relative;
    z-index: 1;
}
.tablet:before, .tablet:after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
}
.tablet iframe {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    border: none;
}
.tablet + pre {
    margin-top: 0;
}
.tablet:before, .tablet:after {
    top: 0;
    height: 100%;
    background: url(../img/ipad-example.png) left top no-repeat transparent;
}
.tablet:before {
    width: 30%;
    left: 0;
}
.tablet:after {
    background-position: right top;
    width: 70%;
    right: 0;
}
.tablet :where(div) {
    position: relative;
    width: 100%;
    overflow: hidden;
    background: #111;
}

.tablet__image {
    overflow-y: auto;
}
.tablet__image img {
    width: auto;
    max-width: 100%;
    margin: auto;
}

.rotatable-tablet {
    height: 675px;
    margin: -50px -100px 0;
    padding: 100px 0 0;
    position: relative;
    overflow: hidden;
}
.rotatable-tablet:after {
    content: "";
    border-radius: 50%;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    display: block;
    height: 20px;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    z-index: 2;
}
.rotatable-tablet .tablet {
    width: 800px;
    margin: 50px auto 0;
    -webkit-transition: none 0.5s ease 0.2s;
    -o-transition: none 0.5s ease 0.2s;
    transition: none 0.5s ease 0.2s;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
}
.rotatable-tablet .tablet iframe {
    -webkit-transition: none 0.6s ease 0.6s;
    -o-transition: none 0.6s ease 0.6s;
    transition: none 0.6s ease 0.6s;
    -webkit-transition-property: top, left, width, height, -webkit-transform;
    transition-property: top, left, width, height, -webkit-transform;
    -o-transition-property: transform, top, left, width, height;
    transition-property: transform, top, left, width, height;
    transition-property: transform, top, left, width, height, -webkit-transform;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
}
.rotatable-tablet--in-portrait .tablet {
    -webkit-transform: rotate(-90deg) translateX(-100px);
    -ms-transform: rotate(-90deg) translateX(-100px);
    transform: rotate(-90deg) translateX(-100px);
}
.rotatable-tablet--in-portrait .tablet iframe {
    width: 490px;
    height: 655px;
    left: 82px;
    top: -82px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.rotate {
    display: block;
    width: 100px;
    margin: auto;
    text-align: center;
    text-decoration: none !important;
    font-size: 50px;
}

.rotate__icon {
    display: inline-block;
    height: 40px;
    -webkit-transition: opacity 0.3s ease, -webkit-transform 0.2s ease;
    transition: opacity 0.3s ease, -webkit-transform 0.2s ease;
    -o-transition: transform 0.2s ease, opacity 0.3s ease;
    transition: transform 0.2s ease, opacity 0.3s ease;
    transition: transform 0.2s ease, opacity 0.3s ease, -webkit-transform 0.2s ease;
    -webkit-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    transform-origin: center bottom;
}
.rotate__icon--landscape {
    opacity: 0.2;
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transform: rotate(0deg) translate(22px, 0px);
    -ms-transform: rotate(0deg) translate(22px, 0px);
    transform: rotate(0deg) translate(22px, 0px);
}
.rotate:hover .rotate__icon--landscape {
    opacity: 0.4;
}
.rotatable-tablet--in-portrait .rotate__icon--landscape {
    -webkit-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    transition-delay: 0.1s;
    -webkit-transform: rotate(-90deg) translate(0px, 22px);
    -ms-transform: rotate(-90deg) translate(0px, 22px);
    transform: rotate(-90deg) translate(0px, 22px);
}
.rotate__icon--portrait {
    -webkit-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    transition-delay: 0.1s;
    -webkit-transform: rotate(90deg) translate(0px, 22px);
    -ms-transform: rotate(90deg) translate(0px, 22px);
    transform: rotate(90deg) translate(0px, 22px);
}
.rotatable-tablet--in-portrait .rotate__icon--portrait {
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transform: rotate(0deg) translate(-22px, 0px);
    -ms-transform: rotate(0deg) translate(-22px, 0px);
    transform: rotate(0deg) translate(-22px, 0px);
}

.popout {
    display: block;
    padding: 20px 10px;
    margin-bottom: 1px;
    text-decoration: none;
    text-align: center;
    line-height: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.popout:hover {
    margin-bottom: 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.75);
}
.popout .fa {
    margin-left: 20px;
}

.burgers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 40px -10px 80px;
}

.burger {
    position: relative;
    width: calc(50% - 20px);
    padding-top: calc(50% - 20px);
    margin: 10px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.05);
    -webkit-box-shadow: 5px 8px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 5px 8px 2px rgba(0, 0, 0, 0.1);
    -webkit-transition: none 0.2s ease;
    -o-transition: none 0.2s ease;
    transition: none 0.2s ease;
    -webkit-transition-property: background-color, -webkit-box-shadow, -webkit-transform;
    transition-property: background-color, -webkit-box-shadow, -webkit-transform;
    -o-transition-property: background-color, box-shadow, transform;
    transition-property: background-color, box-shadow, transform;
    transition-property: background-color, box-shadow, transform, -webkit-box-shadow, -webkit-transform;
}
.burger:hover {
    background: rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: 3px 5px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 3px 5px 1px rgba(0, 0, 0, 0.15);
    -webkit-transform: translateY(3px);
    -ms-transform: translateY(3px);
    transform: translateY(3px);
}
.burger mm-burger {
    --mb-cross-timeout: 0s;
    --mb-animate-timeout: 0s;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.burger span {
    position: absolute;
    bottom: 10%;
    left: 0;
    right: 0;
}

@media (min-width: 992px) {
    .burger {
        width: calc(25% - 20px);
        padding-top: calc(25% - 20px);
    }
}
.features {
    padding-top: 0;
    padding-bottom: 0;
}
.features p {
    padding: 30px 0 0;
    margin: 0;
    position: relative;
}
.features p img {
    display: none;
}
@media (min-width: 768px) {
    .features p {
        min-height: 50px;
        padding: 75px 0;
    }
    .features p:first-child {
        border-top: none;
    }
    .features p:nth-child(odd) {
        padding-left: 45%;
    }
    .features p:nth-child(odd) img {
        right: var(--image-offset);
    }
    .features p:nth-child(even) {
        padding-right: 45%;
    }
    .features p:nth-child(even) img {
        left: var(--image-offset);
    }
    .features p img {
        --image-offset: calc(55% + 50px);
        position: absolute;
        top: calc(50% - 90px);
        border-radius: 15px;
        -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    }
    .features p img:first-child {
        display: block;
    }
    .features p img:nth-child(3) {
        -webkit-transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }
    .features p img:nth-child(2), .features p img:nth-child(4) {
        -webkit-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        transform: rotate(10deg);
    }
    .features p img:nth-child(2) {
        --image-offset: calc(55% + 220px);
    }
    .features p img:nth-child(3) {
        --image-offset: calc(55% + 360px);
    }
    .features p img:nth-child(4) {
        --image-offset: calc(55% + 480px);
    }
}
@media (min-width: 992px) {
    .features p img {
        display: block;
    }
}

@media (min-width: 992px) {
    .licenses {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 100px calc(0px - var(--container-padding)) 0;
    }
}
.license {
    margin: 50px calc(0px - var(--container-padding));
    padding: 50px var(--container-padding) 0;
}
.license:not(:first-child) {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.license__title {
    display: inline-block;
    margin: 0;
}

.license__price {
    display: inline-block;
    margin-left: 30px;
    font-weight: 100;
}

.license__description {
    margin: 20px 0 30px;
}

.license__button {
    display: block;
    padding: 20px 10px 25px;
}

@media (min-width: 992px) {
    .license {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-preferred-size: 35%;
        flex-basis: 35%;
        margin: 0;
        padding: 75px var(--container-padding);
        text-align: center;
    }
    .license:nth-child(even) {
        background: rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }
    .license:not(:first-child) {
        border-top: none;
    }

    .license__title {
        display: block;
        height: 80px;
    }

    .license__price {
        display: block;
        padding: 30px 0;
        margin: 0 30px;
        font-size: 45px;
        line-height: 1.2;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }

    .license__description {
        margin: 30px 0;
    }

    .license__button {
        margin-top: auto;
    }
}
.next {
    padding: 100px var(--container-padding) 0;
    margin: 100px calc(0px - var(--container-padding)) 0;
    border-top: 8px solid rgba(0, 0, 0, 0.1);
}

.playground pre {
    margin: 50px calc(0px - var(--container-padding));
}
.playground .phone {
    position: -webkit-sticky;
    position: sticky;
    top: calc(50vh - 320px);
}

.playground__options {
    --mm-color-text: #fff;
    --mm-color-border: rgb(0 0 0 / 0.3);
    --mm-color-background: #fff;
    position: relative;
    z-index: 2;
    margin: 50px 0;
}
.playground__options .mm-listitem {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 calc(0px - var(--container-padding));
    padding: 15px 5px 15px var(--container-padding);
}
.playground__options .mm-listitem:after {
    left: 0;
    bottom: 100%;
    border-color: rgba(0, 0, 0, 0.1);
}
.playground__options .mm-listitem a,
.playground__options .mm-listitem span {
    padding: 0;
    -o-text-overflow: clip;
    text-overflow: clip;
    white-space: normal;
}
.playground__options .mm-listitem + .mm-divider {
    padding-top: 50px;
}
.playground__options .mm-divider {
    margin: 0 calc(0px - var(--container-padding));
    padding: 15px 5px 15px var(--container-padding);
    font-size: 15px;
    opacity: 0.7;
    background: transparent;
}
.playground__options .mm-divider:before {
    content: none;
}

.playground__code.hljs {
    background: unset;
    display: unset;
    overflow-x: unset;
    padding: unset;
    background: unset;
    color: unset;
}

h1.has-submenu {
    margin-bottom: 10px;
    position: relative;
    z-index: 11;
}
h1 .submenutext {
    display: none;
}

.submenu {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
    margin: 30px calc(0px - var(--container-padding)) 100px;
    overflow-x: auto;
    line-height: 20px;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    opacity: 0.95;
}
.submenu ul,
.submenu li {
    display: block;
    padding: 0;
    list-style: none;
}
.submenu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 8px solid rgba(0, 0, 0, 0.1);
    background: #3ea7e1;
}
.submenu li {
    margin: 0;
}
.submenu a {
    display: block;
    position: relative;
    padding: 15px 20px;
    margin-bottom: -8px;
    border: none;
    border-bottom: 8px solid rgba(0, 0, 0, 0);
    text-decoration: none;
    -webkit-transition: border-bottom-color 0.4s ease;
    -o-transition: border-bottom-color 0.4s ease;
    transition: border-bottom-color 0.4s ease;
}
.submenu li:first-child a {
    padding-left: var(--container-padding);
}
.submenu li.selected a,
.submenu a:hover, .submenu:hover li.selected a:hover {
    border-bottom-color: rgba(0, 0, 0, 0.1);
}
.submenu:hover li.selected a {
    border-bottom-color: rgba(0, 0, 0, 0);
}

.table {
    width: calc(100% + (var(--container-padding) * 2));
    margin: 30px calc(0px - var(--container-padding));
}
.table td {
    border: none;
    vertical-align: top;
}
.table thead {
    background: rgba(255, 255, 255, 0.6);
    color: var(--color-primary);
}
.table thead td {
    padding-top: 15px;
    padding-bottom: 15px;
}
.table tfoot {
    font-size: 15px;
}
.table tfoot tr td {
    padding: 0 20px;
}
.table tfoot tr:first-child td {
    padding-top: 20px;
}
.table tfoot tr:last-child td {
    padding-bottom: 20px;
}
.table .open,
.table .close {
    padding-top: 0;
}
.table .sub-open + tr td {
    padding-top: 0;
}
.table tfoot tr:first-child,
.table tbody tr + tr {
    position: relative;
}
.table tfoot tr:first-child:after,
.table tbody tr + tr:after {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}
.table .sub-open:after,
.table .sub-open + tr:after,
.table .sub-close:after,
.table .divider + tr:after {
    content: none;
    display: none;
}
.table .sub-1:after {
    left: 50px;
}
.table .sub-1 .name,
.table .sub-1 .open,
.table .sub-1 .close {
    padding-left: 50px;
}
.table .sub-2:after {
    left: 75px;
}
.table .sub-2 .name,
.table .sub-2 .open,
.table .sub-2 .close {
    padding-left: 75px;
}
.table .sub-3:after {
    left: 100px;
}
.table .sub-3 .name,
.table .sub-3 .open,
.table .sub-3 .close {
    padding-left: 100px;
}
.table .divider td {
    font-size: 15px;
    text-transform: uppercase;
    opacity: 0.7;
    padding-bottom: 0;
}
@media (max-width: 991px) {
    .table thead,
    .table td:empty {
        display: none;
    }
    .table tr {
        display: block;
        width: 100%;
        overflow: hidden;
    }
    .table td {
        display: block;
        padding: 30px var(--container-padding);
    }
    .table .name {
        font-weight: bold;
        width: auto;
        padding-right: 5px;
        padding-bottom: 0;
        float: left;
    }
    .table .datatype {
        width: auto;
        padding-left: 0;
        padding-bottom: 0;
        float: left;
    }
    .table .datatype em:before {
        content: "(";
    }
    .table .datatype em:after {
        content: ")";
    }
    .table .default {
        width: 100%;
        padding-top: 0;
        clear: left;
    }
    .table .default:before {
        content: "Default: ";
    }
    .table .description {
        width: 100%;
        padding-top: 0;
        clear: left;
    }
    .table .sub-1 td:not(.datatype) {
        padding-left: 50px;
    }
    .table .sub-2 td:not(.datatype) {
        padding-left: 75px;
    }
    .table .sub-3 td:not(.datatype) {
        padding-left: 100px;
    }
}
@media (min-width: 992px) {
    .table td {
        padding: 20px 10px;
    }
    .table .name,
    .table .text,
    .table .open,
    .table .close {
        padding-left: var(--container-padding);
    }
    .table .name {
        width: 20%;
    }
    .table .datatype {
        width: 15%;
    }
    .table .default {
        width: 20%;
    }
    .table .description {
        width: 45%;
    }
}

.changelog > li + li {
    margin-top: 50px;
}
.changelog li li {
    margin-top: 5px;
}

.wp-screenshot h4 {
    display: none;
}
