<form method="post" action="{{ path('feed_delete', feed.rp ) }}" onsubmit="return confirm('Are you sure you want to delete this feed ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ feed.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
