{# templates/admin/home/index.html.twig #}
{% extends "@UmbrellaAdmin/layout.html.twig" %}

{# symfony crud creates everything in a body block, but umbrella uses a content block. :-( #}
{% block content %}
    <h1>content</h1>
{{ block('body') }}
{% endblock %}

{% set admin_menu = get_menu('App\\Menu\\AdminMenu', {  }) %}

{% block sidebar %}
    {{ render_menu(admin_menu, {  }) }}
{% endblock %}
