<form method="post" action="{{ path('org_delete', org.rp ) }}" onsubmit="return confirm('Are you sure you want to delete this org ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ org.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
